html {
	height: 100%;
}
a {
	color: #fff;
}
body {
	background: #101010;
	margin: 0;
	height: 100%;
}
.outer {
	background-color: #101010;
	color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.warning {
	color: red;
}
